[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
ipykernel = "*"
ipympl = "*"
streamlit = "*"
altair = "*"
pydeck = "*"
pandas = "*"
blinker = "*"

[dev-packages]

[requires]
python_version = "3.7"
